.feynman__link {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  /* cursor: pointer; */
  color: #2F80ED;
}

.feynman__link:hover {
  opacity: 0.4;
  transition: 0.3s;
  cursor: pointer;
 }
